# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
.env
config.py

# Local data (если не хочешь хранить игровые данные)
storage.json